# Production Environment Variables
# Used for Netlify deployment

NEXT_PUBLIC_SITE_NAME=MAXWILL INDIA
NEXT_PUBLIC_SITE_URL=https://www.maxwill-india.com
NEXT_PUBLIC_SITE_LOCALE=en-IN
NEXT_PUBLIC_ENABLE_ANIMATIONS=true
